services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rails_api
    command: bash -c "
      rm -f tmp/pids/server.pid &&
      (bundle check || bundle install) &&
      DATABASE_USER=root DATABASE_PASSWORD=${MYSQL_ROOT_PASSWORD} \
      bundle exec rails db:create db:migrate &&
      bundle exec rails s -b 0.0.0.0 -p 3000"
    volumes:
      - ./backend:/app
      - bundle-data:/app/vendor/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_USER=${MYSQL_USER}
      - DATABASE_PASSWORD=${MYSQL_PASSWORD}
      - DATABASE_NAME=${MYSQL_DATABASE}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_front
    command: npm run dev
    volumes:
      - ./frontend:/app
      - frontend-node-modules:/app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Tokyo
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3307:3306"

volumes:
  frontend-node-modules:
  db-data:
  bundle-data:
